{% load static %}
<html>

<head>
    <title>Liste des comptes utilisateurs</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
</head>

<body>
    {% include "navBar.html" %}
    <div class="container">
        <div class="card mb-6">
            <div class="card-body">
                <h1 class="text-info text-center"><em>Liste des comptes utilisateurs</em></h1><br>
                <p align="right">
                    <a href="createUser/" class="btn btn-outline-primary mb-2">Ajouter un utilisateur</a>
                </p>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th><b>ID</b></th>
                            <th><b>Prénom</b></th>
                            <th><b>Nom</b></th>
                            <th><b>Login</b></th>
                            <th><b>Email</b></th>
                            <th><b>Admin</b></th>
                            <th><b>Date ajout</b></th>
                            <th><b>Modifier</b></th>
                            <th><b>Supprimer</b></th>
                        </tr></b>
                    </thead>
                    <tbody>
                        {% for u in users %}
                        <tr>
                            <th>{{u.id}}</th>
                            <th>{{u.first_name}}</th>
                            <th>{{u.last_name}}</th>
                            <th>{{u.username}}</th>
                            <th>{{u.email}}</th>
                            {% if u.is_staff %}
                            <th>Oui</th>
                            {% else %}
                            <th>Non</th>
                            {% endif %}
                            <th>{{u.date_joined}}</th>
                            <th>
                                <a href="update_user/{{ u.id }}" >
                                    <img height="32" width="32" src="{% static 'img/edit.png' %}">
                                </a>
                            </th>
                            <th>
                                <a href="del_user/{{ u.id }}" class="btn btn-error"
                                    onclick="return confirm('Etes-vous sure de vouloir supprimer cet utilisateur?')">
                                    <img height="32" width="32" src="{% static 'img/delete.jfif' %}">
                                </a>
                            </th>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>